.red{
background-color: rgb(255, 76, 76);
}
.orange{
background-color: orange;
}
.yellow{
    background-color: rgb(255, 217, 0);
}
.skyblue{
    background-color: rgb(127, 178, 255);
}
.green1{
    background-color: rgb(155, 221, 55);
}
.green{
    background-color:rgb(3, 173, 3) ;
}
.purple{
    background-color: rgb(184, 134, 184);
}
.pink{
    background-color: pink;
}
.blue{
    background-color: rgba(0, 0, 255, 0.623);
}